.footer{
    display: inline-block;
    font-family: 'poppins', sans-serif;
    margin: 0 0 0 90px
}


.titulo-footer{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 40px;
}

.paragrafo-footer1{
    margin: 15px 0 0px ;  
}

.paragrafo-footer2{
    margin: 0 0 15px ;  
}

.link-footer{
    color: var(--fundo);
}