.conatienr-footer{
    display: flex;
}

.footer{
    display: inline-block;
    font-family: 'poppins', sans-serif;
    margin: 10px 0 0 90px
}


.titulo-footer{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 40px;
}

.paragrafo-footer1{
    margin: 15px 0 15px;  
    text-align: start;
}

.link-footer{
    color: var(--fundo);
    text-align: center;
    padding-bottom: 10px;
}