@import url("styles/main.css");
@import url("styles/footer.css");
@import url("styles/header.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
    --fundo: #0a6adf;
    --cinza: #9d9d9d;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- ğ’ğ‘’ğ“ˆğ’¶ğ“‡ â„ğ‘”ğ“ğ‘’ğ“ˆğ’¾ğ’¶ğ“ˆ  */

/**/